{%extends 'base.html'%}
{%block content%}
<div class="row mb-4">
    {% for post in search_blog %}
        <div class="col-md-6 mb-4">
            <div class="card post-card h-100">
                <div class="card-body">
                    <a href="{% url 'blogs' post.slug %}" class="text-white font-weight-bold"
              ><h3 class="display-5">{{post.title}}</h3>
            </a>

                    <small class="text-muted">
                        {{ post.created_at|timesince }} ago |
                        {{ post.author }}
                    </small>

                    <p class="card-text mt-2">
                        {{ post.short_description|truncatewords:20 }}
                    </p>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12 text-center py-5">
            <h5>No posts found</h5>
            <p class="text-muted">
                There are no articles with the searched keyword.
            </p>
        </div>
    {% endfor %}
</div>
{%endblock%}